# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
out-tsc

*.js
!jest.config.js
!karma.conf.js
!tailwind.config.js
*.d.ts

# dependencies
node_modules

# IDEs and editors
/.idea
/.idea/
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser
/.idea/sonarlint/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
ssl
.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# CDK asset staging directory
.cdk.staging
cdk.out

# Tests
**/test-results
**/test-report.xml

# NX
.nx
/dependency-check-bin/
/dependency-check-reports/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.next
.env
